<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ex02</servlet-name>
  	<servlet-class>com.day07.page.Ex02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex03</servlet-name>
  	<servlet-class>com.day07.page.Ex03</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insert</servlet-name>
  	<servlet-class>com.day07.page.InsertPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<servlet-class>com.day07.page.UpdatePage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/guest/update.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex02</servlet-name>  
  	<url-pattern>/ex02.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex03</servlet-name>
  	<url-pattern>/ex03.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insert</servlet-name>
  	<url-pattern>/guest/insert.jsp</url-pattern>
  </servlet-mapping>
  
  
</web-app>















